.sidenav-title {
    text-align: center;
    margin: auto;
}
.menu {
    width: 100%;
    background: none;
    height: 45px;
    border: none;
    border-bottom: 1px solid;
    cursor: pointer;
}
hr {
    margin: auto;
    border-color: black;
}
a {
    text-decoration: none;
    color: black;
}
.data-container {
    margin-top: 20px;
    width: 87%;
    float: right;
    max-height: 50%;
}
.sidenav {
    width: 13%;
    background: #ccffee;
    position: absolute;
    border-right: 2px solid;
    height: 100%;
}
